
<div class="row align-items-center justify-content-center">
  <h1>{{ title }}</h1>
</div>

<div class="row">
  <div class="col">
    <div class="agm.map.block">
      <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="GetWeatherByClick($event.coords)">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
  </div>
  <div class="col">
    <ngx-spinner></ngx-spinner>
    <div *ngIf="weather.weatherDescription.description != null" class="weather.info">
      <h1> About </h1>
      Description: {{weather.weatherDescription.description}} <br />
      Main: {{weather.weatherDescription.main}} <br />
      <img *ngIf="weather.weatherDescription.icon != null" src="{{weather.weatherDescription.icon}}" /> <br />

      Temperature: {{weather.environment.temp}} <br />
      TemperatureMin: {{weather.environment.temp_Min}} <br />
      TemperatureMax: {{weather.environment.temp_Max}} <br />

      Pressure: {{weather.environment.pressure}} <br />
      Humidity: {{weather.environment.humidity}} <br />
      Visibility: {{weather.environment.visibility}} <br />
      Clouds: {{weather.environment.clouds}} <br />

      <h1> Wind </h1>
      Speed: {{weather.wind.speed}} <br />
      Deg: {{weather.wind.deg}} <br />
      Gust: {{weather.wind.gust}} <br />

      <h1> GeoData </h1>
      Country: {{weather.geoData.country}} <br />
      City: {{weather.geoData.city}} <br />
      Sunrise: {{weather.geoData.sunrise}} <br />
      Sunset: {{weather.geoData.sunset}} <br />

    </div>

    <rg-gauge-chart [canvasWidth]="canvasWidth"
                    [needleValue]="needleValue"
                    [centralLabel]="centralLabel"
                    [options]="options"
                    [name]="name"
                    [bottomLabel]="bottomLabel"></rg-gauge-chart>


  </div>
</div>
